body { color: #666666; font-family: arial, Helvetica; font-size: 12px; }
body a { color: #000; }
body a:hover { color: #000; /*text-decoration: none;*/}
ul { list-style: none; margin: 0;}

h1 {}
h2 {}
h3 {}

#nav.affix { /*background-color: #fff; opacity: 0.7;*/ position:relative; }
